<div class="fm" align="center">
	<h3>Conta de Saída</h3>
<form name="contaEntradasForm">
	<input type="text" ng-model="data" placeholder="Data">
	<select ng-model="categoria">
		<option value="">Selecione uma categoria</option>
	</select>
	<select ng-model="subcategoria">
		<option value="">Selecione uma subcategoria</option>
	</select>
	<select ng-model="formaPgto">
		<option value="">Selecione forma de pgto.</option>
	</select>
	<input type="text" ng-model="valor">
</form>
</div>

<div class="container">
<div class="col-md-3">
	<table class="table table-striped">
		<th>Data</th>
		<th>Categoria</th>
		<th>Subcategoria</th>
		<th>Valor</th>
		<th>Forma pgto.</th>
		<th>Editar</th>
		<th>Excluir</th>
	</table>
</div>
</div>